.arches-container {
    width: 300px;
    height: 500px;
}

.arches-image {
    transform: scale(.235); 
    transform-origin: -5px -20px;
}

.arches-container.large {
    width: 582px; 
    height: 750px;
}

.arches-container.large .arches-image {
    transform: scale(.5); 
    transform-origin: 0px 0px;
}

@media only screen 
  and (max-width: 480px) {
    .arches-container.large {
        width: 349px; 
        height: 450px;
    }
    
    .arches-container.large .arches-image {
        transform: scale(.3); 
        transform-origin: 0px 0px;
    }
}