.yosemite2-container {
    width: 300px;
    height: 500px;
}

.yosemite2-image {
    transform: scale(.22); 
    transform-origin: -10px 70px;
}

.yosemite2-container.large {
    width: 704px; 
    height: 513px;
}

.yosemite2-container.large .yosemite2-image {
    transform: scale(.55); 
    transform-origin: 0px 0px;
}

@media only screen 
  and (max-width: 480px) {
    .yosemite2-container.large {
        width: 351px; 
        height: 252px;
    }
    
    .yosemite2-container.large .yosemite2-image {
        transform: scale(.27); 
        transform-origin: 0px 0px;
    }
}