

body {
    margin: 0;
    font-family: monospace;
    background-color: darkgray
  }

  /* header */
 
  #header {
    display: flex;
    background: black;
    height: 5rem;
    padding: 1rem;
  }

  #logo {
      color: white;
    /* font-family: 'Bungee Shade', cursive;
    text-align: center;
    margin: .5em 0 0; */
  }

  .nav-bar {
    padding: 15px;
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    background-color: white;
  }

  /* a.link:hover {
    /*Any style you want to have link on mouse over*/
    /* background-color: white;
  } */ 


/* login/signup page */

.form-page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 350px;
  border: 1px solid rgb(196, 196, 196);
  
}

.form, .form-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.input {
  width: 200px;
  padding: 2px;
}

#change-form-button {
  justify-content: center;
  display: flex;
  padding: 20px;
}

/* .ant-carousel .slick-slide {
  max-width: 100%;
  line-height: 50px;
  overflow: hidden;
}

.ant-carousel .slick-slide img {
  max-width: 100%;


/* image gallery */

h2 {
    text-align: center;
}

#image-gallery {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  #image-card {
    text-align: center;
    background-color: white;
    border: rgb(207, 207, 207) solid 1px;
    border-radius: 5px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #afafaf
  }

  #svg-image {
    height: 20rem;
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

 

/* coloring page */

.coloring-page {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;

}

.color-palette {
  background: black;
  padding: 10px;
  max-height: 500px;
  display: grid;
  overflow: scroll;
  grid-template-columns: 1fr 1fr 1fr;

}

.color-swatch {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  margin: 10px;
}

.image-description {
  background: white;
  height: 400px;
}

/* user's gallery */

  #my-gallery {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  #my-image-card {
    text-align: center;
    border: rgb(207, 207, 207) solid 1px;
    border-radius: 5px;
    padding: 1rem;
    width: 20rem;
    height: 27rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #afafaf
  }

  .image-container {
    height: 24rem;
    width: 20rem;
  }
  
  .colored-in-image {
    max-height: 17rem;
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }




